.header__lang-link {
  margin: 15px 16px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #fff;
}

.header__lang-link:last-child {
  margin: 15px 0 0;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  .header__lang-link {
    margin-right: 18px;
    margin-top: 18px;
    font-size: 24px;
    line-height: 1.17;
  }  
  .header__lang-link:last-child {
    margin: 18px 0 0;
  }
}