.photo-grid {
    max-width: 90%;
    display: grid;
    margin: auto;
    gap: 12px;
}

@media screen and (min-width: 720px) {
    .photo-grid {
        max-width: 93.75%;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 928px) {
    .photo-grid {
        max-width: 90.625%;
        gap: 14px;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 1279px) {
    .photo-grid {
        max-width: 1184px;
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}  

