.places {
    margin: 64px auto 66px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

@media screen and (min-width: 720px) {
    .places {
        width: 93.75%;
        margin-top: 88px;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 928px) {
    .places {
        width: 90.625%;
        margin-top: 92px;
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1184px) {
    .places {
        width: 76.875%;
    }
}

