.lead {
    width: 100%;
    color: #fff;
    margin-top: 48px;
}

@media screen and (min-width: 928px) {
    .lead {
        width: 90.625%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1184px) {
    .lead {
        width: 76.875%;
    }
}