.cover__overlay {
    max-width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 33px 0 33px;
    position: relative;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.6s;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}