.cover__overlay {
    max-width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 33px 0 33px; 
    position: relative;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .6s;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (min-width: 720px) {
    .cover__overlay {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

@media screen and (min-width: 928px) {
    .cover__overlay {
        padding-top: 195px;
        padding-bottom: 195px;
    }
}

@media screen and (min-width: 1184px) {
    .cover__overlay {
        padding-top: 245px;
        padding-bottom: 245px;
    }
}