.footer {
    max-width: 100%;
    margin-left: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .footer {
        max-width: 720px;
        margin: 0 auto 24px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 928px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (min-width: 1184px) {
    .footer {
        max-width: 1184px;
    }
}