.place__website {
    margin: 32px auto 32px 16px;
    max-width: 90%;
}

@media screen and (min-width: 720px) {
    .place__website {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}